body {
  font-family: Arial;
  background: #fff0f5;
  text-align: center;
}

.title {
  color: #ff0066;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 10px #ccc;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
