body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff0f5;
    text-align: center;
}

.title {
    color: #ff2f68;
    margin-top: 20px;
}

.subtitle {
    margin-bottom: 30px;
    color: #555;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: 220px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
    font-size: 18px;
}
